{% extends "base.html" %}
{% block title %}Main{% endblock %}

{%- block theme_styles %}
{{super()}}
<link href="{{STATIC_PREFIX}}/css/cover.css" rel="stylesheet" />
{%- endblock theme_styles %}

{% block body_attribs %} class="d-flex h-100" {%- endblock body_attribs %}

{%- block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-5">
      <div>
        <h3 class="float-md-start mb-0"><a href="/">Марица</a></h3>
      </div>
    </header>
    <main class="">
        <!-- Форма для ввода данных -->
        <p class="lead text-center">Введите данные для расчёта</p>
        <form method="get" class="mb-5">
            <div class="row mb-5">
                <label for="denrojden" class="col-sm-3 col-form-label">Дата рождения: </label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" id="denrojden" name="m_date" value="{{m_date}}" required>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg __btn-light _fw-bold _border-white __bg-white text-center col-sm-3">Рассчитать</button>
            </div>
        </form>
        <!-- Форма для ввода данных -->

        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}

        {% if store %}
        <!-- Круговая диаграмма -->
        <!-- <p class="lead text-center">Круговая диаграмма</p> -->
        <h3 class="text-center">Круговая диаграмма</h3>
        <p>Родовая программа по мужской линии [{{store.generic_program_m}}]</p>
        <p>Родовая программа по женской линии [{{store.generic_program_f}}]</p>
        <div class="row justify-content-md-center">
          <div class="col-10">
            {% with store=store %}
              {% include "svg.html" %}
            {% endwith %}
          </div>
        </div>
        {% endif %}
    </main>
    <footer class="mt-auto">
      <div class="row justify-content-md-center mt-3 mb-3 pt-3 pb-3">
        <div class="col-md-auto">
            <p>© 2024 Матрица Судьбы 1.0</p>
        </div>
      </div>
    </footer>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
    <!-- PAGE LEVEL SCRIPTS -->
{%- endblock scripts %}


{%- block scripts_plugins %}
{{super()}}
{%- endblock scripts_plugins %}


{%- block scripts_core %}
{{super()}}
{%- endblock scripts_core %}